<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <title><%= product.name %></title>
</head>

<body>
  <%- include("navbar") %>
  <main class="main-product">
    <button class="return-btn" onclick="location.href = '/products'">
      << Return to Products </button>
        <div class="product-item">
          <img src="<%= product.image %>" alt="image product" height="300" />
          <form class="product-info" action="/products/edit?id=<%= product.id %>&_method=PATCH" method="POST">
            <p class="product-name-price">
              <span><%= product.name %></span>
              <span>
                $
                <% if (edit) { %>
                <input type="number" id="price" name="price" value="<%= product.price %>" min="0.01" required>
                <% } else { %>
                <%= product.price %>
                <% } %>
              </span>
            </p>
            <p class="product-category" style="background-color: <%= categoryColor %>"><%= product.category %></p>
            <p>
              <% if(edit){ %>
              <textarea name="description" id="description" cols="33" rows="5" required><%= product.description %></textarea>
              <% } else { %>
              <%= product.description %>
              <% } %>
            </p>
            <p>
              Quantity:
              <% if(edit){ %>
              <input type="number" name="quantity" id="quantity" value="<%= product.quantity %>" min="1" step="1" required>
              <% } else { %>
              <%= product.quantity %>
              <% } %>
            </p>
            <div class="edit-delete-container">
              <% if(edit){ %>
              <button type="submit">Submit Edits</button>
              <% } else { %>
              <button type="button" class="edit-product-btn" onclick="location.href = '/products/edit?id=<%= product.id %>'">Edit</button>
              <button class="delete-product-btn">Delete</button>
              <% } %>
            </div>
          </form>
        </div>
  </main>
</body>

</html>